<h1 class="s-page-header">New Comp</h1>

<div class="mod-white">
  <input type="file" style="display: none;" value="" name="">
  <div class="ui-btn-set-left">
    <a class="ui-btn-large ui-btn-secondary">Add Comps</a><a class="ui-btn-large">Get Framing!</a>
  </div>
</div>

<div class="mod-white">
  <ul>
    <li class="pg-new-comps-comp">
      <div class="pg-new-comps-img-wrap">
        <%= image_tag('sample-comp.png') %>
      </div>
      <div class="pg-new-comps-info">
        <header>
          <h5>File Name</h5>
          <p>/jordancooperman/desktop/image-of-camel.jpg</p>
        </header>

        <div class="mod-progress-bar">
          <div class="mod-progress-bar-filled" style="width: 30%"></div>
        </div>

        <div class="pg-new-comps-actions">
          <button class="ui-btn-large ui-btn-secondary">
            <i class="icon-trash"></i>
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
