<h1>New Comp</h1>
<input type="file" class="text" value="" name="">
<div class="pg-new-comps-left">
  <ul>
    <li>
      <img src="" alt="" class="pg-new-comps-img">
      <div class="pg-new-comps-info">
        <h5>File Name</h5>
        <p>/jordancooperman/desktop/image-of-camel.jpg</p>
        <div class="mod-progress-bar">
          <div class="mod-progress-bar-filled"></div>
          <div class="pg-new-comps-actions">
            <button>
              <i class="icon-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </li>
    <li>
      <img src="" alt="" class="pg-new-comps-img">
      <div class="pg-new-comps-info">
        <h5>File Name</h5>
        <p>/jordancooperman/desktop/image-of-camel.jpg</p>
        <div class="mod-progress-bar">
          <div class="mod-progress-bar-filled"></div>
          <div class="pg-new-comps-actions">
            <button>
              <i class="icon-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </li>
    <li>
      <img src="" alt="" class="pg-new-comps-img">
      <div class="pg-new-comps-info">
        <h5>File Name</h5>
        <p>/jordancooperman/desktop/image-of-camel.jpg</p>
        <div class="mod-progress-bar">
          <div class="mod-progress-bar-filled"></div>
          <div class="pg-new-comps-actions">
            <button>
              <i class="icon-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </li>
    <li>
      <img src="" alt="" class="pg-new-comps-img">
      <div class="pg-new-comps-info">
        <h5>File Name</h5>
        <p>/jordancooperman/desktop/image-of-camel.jpg</p>
        <div class="mod-progress-bar">
          <div class="mod-progress-bar-filled"></div>
          <div class="pg-new-comps-actions">
            <button>
              <i class="icon-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="pg-new-comps-right">
    <button>Get Framing!</button>
  </div>
</div>
