<h1 class="s-page-header">New Comp</h1>

<div ng-controller="UploadController">
  <div class="mod-white">
    <%= form_for Comp.new, data: { file_upload: 'options' } do |f| %>
      <%= f.file_field :image, multiple: true, style: 'display: none;' %>
      <div class="ui-btn-set-left">
        <a class="ui-btn-large ui-btn-secondary" ng-click="selectFiles($event)">Add Comps</a>
        <a class="ui-btn-large" ng-disabled="queue.length == 0">Get Framing!</a>
      </div>
    <% end %>
  </div>

  <div class="mod-white" ng-cloak ng-repeat="file in queue | filter: {hidden: undefined}">
    <ul>
      <li class="pg-new-comps-comp">
        <div class="pg-new-comps-img-wrap">
          <div class="preview" data-file-upload-preview="file"></div>
        </div>
        <div class="pg-new-comps-info">
          <header>
            <h5>File Name</h5>
            <p>{{file.name}}</p>
          </header>

          <div class="mod-progress-bar" data-file-upload-progress="file.$progress()">
            <div class="mod-progress-bar-filled" ng-style="{width: num + '%'}"></div>
          </div>

          <div class="pg-new-comps-actions">
            <button class="ui-btn-large ui-btn-secondary" ng-click="remove($event, file)">
              <i class="icon-trash"></i>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
