.pg-auth-wrap {
  width: 42rem;
  margin: 0 auto;
  margin-top: 8rem;
  padding: $space*5;
  margin-bottom: 2rem;

  label {
    display: block;
  }

  input {
    width: 100%;
  }
}

.pg-auth-footer {
  margin-top: $space;
}

.pg-auth-links {
  text-align: center;
}
