.pg-new-comps-comp {
  @include clearfix;
}

.pg-new-comps-img-wrap {
  max-height: 10rem;
  overflow: hidden;
  width: $pg-new-comps-img-width;
  float: left;
}

.pg-new-comps-info {
  width: 100% - $pg-new-comps-img-width;
  float: left;
  padding-left: $space*2;

  > * {
    margin-bottom: $space*2;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
