.pg-home {
}

.pg-home-hero {
  text-align: center;
  background-color: $color-header;
  padding: $space*20 0;
}

.pg-home-comps {
  padding: $space*5 0;
}

.pg-home-steps {
  text-align: center;

  .mod-white {
    min-height: 22rem;
  }
}

.pg-home-steps-number {
  display: inline-block;
  @include type-size(large);
  color: $color-type-light;
  background-color: #f2f0ed;
  @include dim(4.5rem);
  padding-top: 0.75rem;
  margin-bottom: $space*2;
  @include border-radius(10rem);
}
