<p>You're comps are framed! Click the link below to start your download.</p>

<ul>
  <% @export.renders.each do |r| %>
    <li><%= link_to r.image.url, r.image.url %></li>
  <% end %>
</ul>

<p>Thanks for using Inframe! Comments of suggestions? Email us at <a href="mailto:info@inframe.io">info@inframe.io</a></p>
