<div class="pg-home">
  <div class="pg-home-hero">
    <%= image_tag('hero.png') %>
  </div>
  <h1>Present Your Designs in Devices</h1>
  <p class="type-large type-secondary">Upload designs, choose your frames, position your designs, download</p>
  <a class="ui-btn-large">Try it Free</a>
</div>
