<div class="pg-home-hero type-on-dark">
  <div class="l-wrap">
    <h1 class="s2">Quickly Present Designs in Devices</h1>
    <p class="s3 type-secondary">Upload designs, choose your frames, position your designs, download</p>
    <%= link_to 'Upload A Design', comps_path, class: 'ui-btn-large'%>
  </div>
</div>

<div class="l-wrap">
  <div class="pg-home-comps">
    <%= image_tag('hero.png') %>
  </div>

  <div class="pg-home-steps">
    <ul class="l-tile-wrap">
      <li class="l-tile-4">
        <div class="l-tile-content">
          <div class="mod-white">
            <div class="pg-home-steps-number">1</div>
            <h3>Upload Designs</h3>
            <p class="type-small type-secondary">We'll save them for next time.</p>
          </div>
        </div>
      </li>
      <li class="l-tile-4">
        <div class="l-tile-content">
          <div class="mod-white">
            <div class="pg-home-steps-number">2</div>
            <h3>Choose Frames</h3>
            <p class="type-small type-secondary">We provide standard frame sets. We plan to allow you to upload your own soon.</p>
          </div>
        </div>
      </li>
      <li class="l-tile-4">
        <div class="l-tile-content">
          <div class="mod-white">
            <div class="pg-home-steps-number">3</div>
            <h3>Position Designs</h3>
            <p class="type-small type-secondary">If your designs are bigger than the frame, you can position them before exporting.</p>
          </div>
        </div>
      </li>
      <li class="l-tile-4">
        <div class="l-tile-content">
          <div class="mod-white">
            <div class="pg-home-steps-number">4</div>
            <h3>Download</h3>
            <p class="type-small type-secondary">We’ll show you a preview and let you export as many comps as you want in one take.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
