.mod-dropdown-trigger {
  position: relative;

  &:hover {
    .mod-dropdown {
      display: block;
    }
  }
}

.mod-dropdown-click-trigger {
  position: relative;
}

.mod-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  line-height: normal;
  min-width: 100%;
  left: 0;
  @include box-shadow(0 0.1rem 0.2rem rgba($color-black, 0.2));
  background-color: $color-white;
  color: $color-type;

  a {
    color: $color-type;
  }

  &.active {
    display: block;
  }
}

.mod-dropdown-right {
  @extend .mod-dropdown;
  right: 0;
  left: auto;
}

.mod-dropdown-arrow {
  position: absolute;
  right: $space;
  top: 50%;
  margin-top: -0.5em;
}

.mod-dropdown-row {
  display: block;
  border-bottom: $border-thin;
  padding: $space $space*2;

  &:hover {
    background-color: $color-grey-light-med;
  }

  &:last-child {
    border-bottom: 0;
  }
}
