.mod-frame-set {
  position: relative;
  height: 20rem;
  padding-bottom: $space*2;
}

.mod-frame-set-name {
  position: absolute;
  bottom: 0;
  left: 0;
}

.mod-frame-li {
  padding: 0 $l-gutter;
  height: $space*8;
  border-bottom: $border-style rgba($color-black, 0.08);

  &:last-child {
    border-bottom: 0;
  }
}

.mod-frame-li-img-wrap {
  text-align: left;
  width: $space*8;
  height: $space*5;
  display: inline-block;
  vertical-align: middle;
}

.mod-frame-li-name {
  display: inline-block;
  vertical-align: middle;
  padding-left: $space;
}


