.mod-frame-set-img-wrap {
  padding: 0 $space*3;
}

.mod-frame-li-img-wrap {
  text-align: left;
  float: left;
  display: inline-block;
  vertical-align: middle;
  @include dim($mod-frame-size);
  background-color: #bbb;
  padding: 0.6rem;
  @include border-radius(50%);

  img {
    display: block;
    margin: 0 auto;
  }
}

.mod-frame-li-name {
  display: block;
  padding-left: $space;
  line-height: $mod-frame-size;
  @include ellipsis;
}


