.mod-frame-set-img-wrap {
  padding: 0 $space*3;
}

.mod-frame-set-name {
  margin-top: $space;
}

.mod-frame-li {
  padding: 0 $space*2;
  height: $space*8;
  border-bottom: $border-style rgba($color-black, 0.08);

  &:last-child {
    border-bottom: 0;
  }
}

.mod-frame-li-img-wrap {
  text-align: left;
  width: $space*6;
  height: $space*4;
  display: inline-block;
  vertical-align: middle;
}

.mod-frame-li-name {
  display: inline-block;
  vertical-align: middle;
  padding-left: $space;
}


