.mod-white {
  background-color: $color-white;
  @include border-radius($mod-border-radius);
  // @include box-shadow(0 0.1rem 0.15rem rgba($color-black, 0.15));
  padding: $l-gutter;
  margin-bottom: $l-gutter;
}

.mod-beige {
  @extend .mod-white;
  background-color: $color-beige;
}

.mod-white-sidebar {
  @extend .mod-white;
  padding: $space 0;
}

.mod-progress-bar {
  height: $space;
  width: 100%;
  background-color: $color-grey-light;
  position: relative;
}

.mod-progress-bar-filled {
  background-color: $color-grey-med;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.mod-highlighted {
  background-color: $color-white;
  border-bottom: $border-style $color-accent !important;
}

.mod-title {
  margin-top: -#{$space};
  margin-bottom: $space;
}

.mod-row {
  margin: 0 -#{$l-gutter};
  padding: $space $l-gutter/1.5;
  @include clearfix();
  border-bottom: $border;
  cursor: pointer;

  &:hover {
    background-color: $color-white;
  }
}

