.mod-white {
  background-color: $color-white;
  @include border-radius($ui-border-radius);
  padding: $l-gutter;
  margin-bottom: $l-gutter;
  @include box-shadow(0.2rem 0.2rem 0.4rem rgba($color-black, 0.06));
}

.mod-white-sidebar {
  @extend .mod-white;
  padding: $space 0;
}

.mod-progress-bar {
  height: $space;
  width: 100%;
  background-color: $color-grey-light;
  position: relative;
}

.mod-progress-bar-filled {
  background-color: $color-grey-med;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.mod-highlighted {
  background-color: $color-highlight;
}

