.g-footer-nav {
  margin-top: $space*10;
  border-top: $border;
  float: left;
  clear: both;
  @include type-size(small);

  li {
    display: inline-block;
    margin-right: $space*2;
  }

  a {
    display: block;
    padding: $space*2 0;
    color: $color-type-light;
  }
}
