.g-header {
  background-color: $color-g-header;
  @include clearfix();
  color: $color-white;
  @include box-shadow(0.2rem 0.2rem 0.4rem rgba($color-black, 0.2));
}

.g-header-logo {
  float: left;
  font-size: 2rem;
  line-height: $g-header-height;
  font-weight: bold;
  color: $color-white;
}

.g-header-nav {
  float: right;
  ul > * {
    line-height: $g-header-height;
    display: inline-block;
    vertical-align: middle;
    margin-left: $space*2;
  }
}

.g-header-user {
  > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.g-header-nav-avatar {
  @include dim($space*4);
  background-color: $color-white;
  @include border-radius($ui-border-radius);
}
