.g-header {
  background-color: $color-primary;
  @include clearfix();
}

.g-header-logo {
  float: left;
  font-size: 2.5rem;
  line-height: $g-header-height;
}

.g-header-nav {
  @include type-size(small);
  float: right;

  ul > * {
    line-height: $g-header-height;
    display: inline-block;
    vertical-align: middle;
    margin-left: $space*3;
  }
}

.g-header-user {
  > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.g-header-nav-avatar {
  @include dim($space*4);
  background-color: $color-white;
  @include border-radius($ui-border-radius);
}

.g-sub-header-nav {
  background-color: #e0ddd7;
  border-bottom: $border-style #d9d4d7;
  font-weight: bold;

  li {
    display: inline-block;
    margin-bottom: -0.1rem;

    &.active {
      a {
        color: $color-type;
        background-color: $color-grey-light;
        border: $border-style #d9d4d7;
        border-top: 0;
        border-bottom: 0;
      }
    }
  }

  a {
    color: $color-type-light;
    line-height: $space*6;
    padding: 0 $space*2;
  }

}
