.l-wrap {
  width: $l-width;
  margin: 0 auto;
  padding: 0 $space*2;
}

.l-main {
  width: 100/3*2%;
  float: left;
  padding-right: $l-gutter;
}

.l-sidebar {
  float: left;
  width: 100/3*1%;
  padding: 0.1rem 0;
  padding-left: $l-gutter;
}

.l-tile-wrap {
  margin-left: -#{$l-gutter};
  margin-bottom: -#{$l-gutter};
  @include clearfix();
}

.l-tile-content {
  padding-left: $l-gutter;
  padding-bottom: $l-gutter;
}

@for $i from 1 to 21 {
  .l-tile-#{$i} {
    float: left;
    width: 100%/$i;

    &:nth-child(#{$i + 1}) {
      clear: both;
    }
  }

  @for $j from 1 to $i {
    .l-tile-#{$j}-of-#{$i} {
      float: left;
      width: (100%/$i)*$j;
    }
  }
}

