@mixin type-size($name) {
  $map-entry: map-get($type-sizes, $name);

  font-size: (nth($map-entry, 1) / $type-base-font-size) + rem;
  line-height: nth($map-entry, 2) + em;
}

@mixin dim($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin clearfix {
  &:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
   }
}

@mixin truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin ui-height($size) {
  height: $size;
  line-height: $size;
}
