.pos-children-center-y {
  &:after {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}

.pos-clearfix {
  @include clearfix();
}

.pos-left {
  float: left;
}

.pos-right {
  float: right;
}

.pos-stretch {
  width: 100%;
}

.pos-v-align-contents {
  > * {
    vertical-align: middle;
    display: inline-block;
  }
}
