html {
  font-size: 10px;
}

body {
  @include type-size(body);
}

body, input, button, select, textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-type;
  font-family: $type-font-family;
  font-weight: normal;
}

a {
  color: $color-link;

  &:hover {
    color: darken($color-link, 10);
  }

  p {
    color: $color-type;
  }
}


h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.25em;
}

h1,
.type-huge {
  @include type-size(huge);
  margin-bottom: $space;
}

h2
.type-xlarge {
  @include type-size(xlarge);
}

h4,
.type-large {
  @include type-size(large);
}

h5 {
  @include type-size(body);
}

b, strong {
  font-weight: 500;
}

.type-weight-normal {
  font-weight: normal;
}

.type-weight-bold {
  font-weight: 700;
}

.type-on-dark {
  color: $color-white;

  a {
    color: $color-white;
  }
}

.type-secondary {
  color: $color-type-light
}

.type-large {
  @include type-size(large);
}

.type-small {
  @include type-size(small);
}
