.ui-btn {
  background-color: $color-primary;
  border: 0;
  color: $color-white;
  display: inline-block;
  font-weight: 700;
  padding: 0 1.5em;
  @include border-radius($ui-border-radius);
  text-align: center;
  @include type-size(small);
  @include ui-height(4.5rem);

  &.disabled {
    background-color: $color-grey-med;
    cursor: not-allowed;

    &:hover {
      background-color: $color-grey-med;
    }
  }

  &:hover {
    background-color: darken($color-primary, 10);
    color: $color-white;
  }

  &:focus {
    outline: 0;
  }
}

.ui-large {
  @include type-size(body);
  @include ui-height(5rem);
}

.ui-btn-secondary {
  @extend .ui-btn;
  background-color: $color-white;
  color: $color-type;
  border: $border-style-thin #e5e5e5;
  // @include box-shadow(0 0.1rem 0.1rem rgba($color-black, 0.1));

  &:hover {
    background-color: $color-grey-xlight;
    color: $color-type;
  }
}

.ui-btn-set-right {
  > * {
    display: inline-block;
    margin-left: $space*2;
  }
}

.ui-btn-set-left {
  > * {
    margin-right: $space*2;
  }
}

.ui-btn-set-center {
  > * {
    margin: 0 $space;
  }
}

.ui-btn-stroked {
  @extend .ui-btn;
  background-color: transparent;
  border: $border-style $color-primary;
}
