$space: 0.8rem;

$g-header-height: $space*7;

$l-width: 105rem;
$l-min-width: 80rem;
$l-gutter: $space*3;
$color-accent: #3497db;
$color-highlight: rgba($color-accent, 0.15);
$color-link: $color-accent;
$color-type: #290733;
$color-type-light: #a1989d;
$color-white: #fff;
$color-grey-light: #f0ece6;
$color-grey-light-med: #f6f3f0;
$color-grey-med: #998294;
$color-black: #000;
$color-grey-dark: #2b2a29;
$color-border: #dfdadb;
$color-border-light: #e6e2e4;

$ui-border-radius: 0.5rem;

$border-style: 0.1rem solid;
$border: $border-style $color-border;
$border-light: $border-style $color-border-light;

$type-base-font-size: 10;
$type-font-family: "museo-sans-rounded", "helvetica";
$type-sizes: (
  xsmall: (9, 1.5),
  small:  (14, 1.5),
  body:   (15, 1.55),
  large:  (21,  1.2),
  xlarge: (32,  1.3),
  huge:   (42, 1.1)
);

$pg-new-comps-img-width: 20%;

$pg-export-frames-width: 22rem;
$pg-export-comps-width: 14.4rem;
