$space: 0.8rem;

$g-header-height: 4.5rem;

$l-width: 105rem;
$l-gutter: $space*2;
$color-primary: #5abe6d;
$color-accent: #66be5a;
$color-highlight: rgba($color-primary, 0.15);
$color-link: $color-primary;
$color-type: #333;
$color-type-light: #777;
$color-white: #fff;
$color-beige: #f2f0ed;
$color-grey-light: #e5e5e5;
$color-grey-light-med: #f6f3f0;
$color-grey-med: #998294;
$color-black: #000;
$color-grey-dark: #2b2a29;
$color-border: #f0ece6;
$color-border-light: #e6e2e4;
$color-green: #66eb49;
$color-header: #212121;

$ui-border-radius: 0.3rem;

$border-thickness: 0.2rem;
$border-style: $border-thickness solid;
$border-style-thin: 0.1rem solid;
$border: $border-style $color-border;
$border-light: $border-style $color-border-light;

$type-base-font-size: 10;
$type-font-family: "lft-etica", "museo-sans-rounded", "helvetica";
$type-sizes: (
  xsmall: (9, 1.5),
  small:  (13, 1.5),
  body:   (18, 1.55),
  large:  (24,  1.2),
  xlarge: (32,  1.3),
  huge:   (45, 1.1)
);

$pg-new-comps-img-width: 20%;

$pg-export-frames-width: 22rem;
$pg-export-comps-width: 22rem;
$pg-export-preview-width: 40rem;

$mod-frame-width: 15%;
