<div ng-controller="ExportController">
  <h2 class="s-page-header">Export Framed Comps</h2>
    <div class="pg-export">

      <ul class="pg-export-comps" ng-cloak>
        <li class="pg-export-comp-wrap" ng-repeat="comp in comps" ng-class="{'mod-highlighted': selectedComp == comp}" ng-click="selectComp(comp)">
          <div class="pg-export-comp">
            <img ng-src="{{comp.image}}" alt="">
          </div>
        </li>
      </ul>

      <div class="pg-export-frames">
        <div class="mod-dropdown-click-trigger pg-export-frames-dropdown-wrap"  ng-click="toggleFramesetDropdown($event)" ng-cloak>
          <span class="type-weight-bold">
            {{selectedFrameset.name}}
            <i class="icon-chevron-down mod-dropdown-arrow"></i>
          </span>
          <div class="mod-dropdown pg-export-frames-dropdown" ng-class="{active: showFramesets}">
            <ul>
              <li ng-cloak ng-repeat="frameset in framesets" ng-click="selectFrameset(frameset)">
                <div ng-class="{'': frameset.selected}">
                  <div class="mod-frame-set">
                    <div class="mod-frame-set-img-wrap"><img ng-src="{{frameset.icon}}" alt=""></div>
                    <div class="mod-frame-set-name">{{frameset.name}}</div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <ul>
          <li class="mod-frame-li pos-inline-block-y-center" ng-repeat="frame in selectedFrameset.frames" ng-cloak ng-click="selectFrame(frame)" ng-class="{'mod-highlighted': selectedFrame == frame}">
            <div class="mod-frame-li-img-wrap">
              <img ng-src="{{frame.image}}" alt="">
            </div>
            <span class="mod-frame-li-name">{{frame.name}}</span>
          </li>
        </ul>
      </div>

      <div class="pg-export-preview-wrap" ng-cloak ng-show="selectedFrame && selectedComp">
        <h5 class="pg-export-preview-help-text">Drag your comp to choose its position</h5>
        <div class="pg-export-preview">
          <div class="pg-export-preview-comp-wrap" ng-style="compWrapperStyle()">
            <img ng-src="{{selectedComp.image}}" alt="">
          </div>

          <div class="pg-export-preview-frame">
            <img ng-src="{{selectedFrame.image}}" image-load="updateFrameRatio($event)" alt="">
          </div>

          <a class="ui-btn">Add To Set</a>
          <a class="ui-btn">Download X Framed Comps</a>
        </div>
      </div>
    </div>
</div>
