<!DOCTYPE html>
<html>
<head>
  <title>Framesetter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="g-header">
  <a href="" class="g-header-logo"></a>
  <nav class="g-header-nav">
    <ul>
      <li>
        <a href="" class="ui-btn">New Comps</a>
      </li>
      <li class="mod-dropdown-trigger">
        <button>
          <i class="icon-user"></i>
          <i class="chevron-down">
            <nav class="mod-dropdown">
              <ul>
                <li>
                  <a href="">Your Comps</a>
                </li>
                <li>
                  <a href="">Your Exports</a>
                </li>
              </ul>
            </nav>
          </i>
        </button>
      </li>
    </ul>
  </nav>
</header>

<%= yield %>

<footer class="g-footer">
  <nav>
    <ul>
      <li>
        <a href="">Contact Us</a>
      </li>
      <li>
        <a href="">Request a Feature</a>
      </li>
    </ul>
  </nav>
</footer>

</body>
</html>
